.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  margin: 120px 0;
}

.status-head {
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  line-height: 125%;
  color: var(--textColor);

  user-select: none;

  display: block;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

@keyframes loading1 {
  from {
    opacity: 0;
  }
  24% {
    opacity: 0
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes loading2 {
  from {
    opacity: 0;
  }
  49% {
    opacity: 0
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes loading3 {
  from {
    opacity: 0;
  }
  74% {
    opacity: 0
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.status-head_loading .loading-dot:nth-of-type(1) {
  animation: loading1 1.5s linear infinite;
}
.status-head_loading .loading-dot:nth-of-type(2) {
  animation: loading2 1.5s linear infinite;
}
.status-head_loading .loading-dot:nth-of-type(3) {
  animation: loading3 1.5s linear infinite;
}