.suggestion-list {
  position: fixed;
  top: 100%;
  left: -1px;

  width: min(500px, calc(100% - 40px));
  min-height: 200px;

  background-color: var(--darkGrey);

  border: 1px solid var(--grey);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow-x: hidden;
  overflow-y: scroll;

  z-index: 1000;

  color: white;

  max-height: 40vh;
}

.suggestion {
  cursor: pointer;

  padding: 12px;

  border-bottom: 1px solid var(--grey);

  background-color: transparent;

  transition: background-color 0.15s;
}
.suggestion:last-of-type {
  border-bottom: none;
}
.suggestion_active {
  background-color: var(--darkPurple);
}

.no-suggestion {
  padding: 12px;
}
