.search-mode {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;

  color: var(--textColor);
  font-weight: 300;
  font-size: var(--inputTextSize);
}

.switch {
  width: 48px;
  height: 24px;

  border-radius: 40px;
  border: 1px solid var(--grey);

  background-color: var(--purple);

  cursor: pointer;
}
.switch-circle {
  width: 18px;
  height: 18px;

  border-radius: 100%;

  background-color: var(--darkPurple);

  margin: 2px;
  margin-left: 2px;

  transition: margin-left 0.25s;
}
.switch-circle_active {
  margin-left: 25px;
}
.label {
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
