:root {
  --purple: #A37BF4;
  --darkPurple: #621DED;
  --red: #FA004F;
  --grey: #1B1E26;
  --darkGrey: #13151B;

  --backgroundColor: #000000;
  --translucentBackgroundColor: rgba(8, 9, 13, 0.8);
  --textColor: #FFFFFF;
  --placeholderColor: #474747;

  --inputTextSize: 17px;
  --textSize: 14px;
  --actionTextSize: 20px;
  --statusHeadTextSize: 42px;
  --uploadTextSize: 24px;

  --backdropFilter: blur(10px);

  --loadingColor: rgba(0, 0, 0, 0.60);
  --loadingBlur: blur(50px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;

  font-family: Manrope, Roboto, Helvetica, Arial, sans-serif;
}
*::selection {
  background-color: var(--darkPurple);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--backgroundColor);
  padding: 20px;

  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  place-items: stretch;
  justify-content: center;
}
@supports (min-height: 100dvh) {
  body {
    min-height: 100dvh;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}