.search {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;

  position: relative;
}
.search-form {
  max-width: calc(100vw - 40px);
  align-self: stretch;

  display: flex;
  justify-content: stretch;
  justify-items: stretch;
  align-items: center;
  gap: 12px;
}



@media (max-width: 600px) {
  .search-form {
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
  }
}