.search {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.search-form {
  width: 100%;
  align-self: stretch;

  display: flex;
  justify-content: stretch;
  justify-items: stretch;
  align-items: center;
  gap: 12px;
}