.memes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-flow: row dense;
  gap: 20px;

  padding: 60px 0;
}

@media (min-width: 980px) {
  .memes-list {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
