.outer-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px 5px;

  position: relative;

  overflow-x: scroll;
}
.outer-input_active {
  border-bottom-left-radius: 0;
}
.outer-input_disabled {
  position: absolute;
}

.hashtag {
  color: var(--textColor);
  font-size: 14px;
  font-weight: 200;

  background-color: var(--translucentBackgroundColor);

  border-radius: 20px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  height: 100%;
  padding-left: 8px;
  padding-right: 4px;
}

.deletebutton {
  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--grey);

  border-radius: 100%;

  cursor: pointer;
}
.deletebutton svg {
  width: 9px;
  height: 9px;
}

.input {
  display: block;

  align-self: stretch;
  flex: 1 1 auto;

  background-color: transparent;

  font-size: var(--inputTextSize);
  color: var(--textColor);
}
.input::placeholder {
  color: var(--placeholderColor);
}

.outer-input_wide {
  border-radius: 20px;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  overflow-y: scroll;
  overflow-x: hidden;

  & .hashtag {
    height: auto;
  }

  & .input {
    align-self: auto;
    flex: 1 0;
  }
}
.outer-input_wide.outer-input_active {
  border-bottom-left-radius: 20px;
}
