.meme-card {
  aspect-ratio: 1/1;

  border-radius: 20px;

  background-color: var(--grey);

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor: pointer;

  max-width: 600px;
}
.meme-card:hover .meme-download {
  opacity: 1;
  visibility: visible;
}
.meme-card:hover .meme-hashtags {
  opacity: 1;
  visibility: visible;
}

.meme-image {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  overflow: hidden;
}
.meme-image .img {
  object-fit: cover;

  min-width: 100%;
  min-height: 100%;
}

.meme-image svg {
  width: 20%;
  height: auto;
}

.meme-download {
  position: absolute;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.2s,
    visibility 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 30%;

  border-radius: 50%;

  background-color: rgba(8, 9, 13, 0.8);
  backdrop-filter: blur(4px);
}
.meme-download svg {
  width: 53%;
  height: auto;
}

.meme-hashtags {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: auto;

  padding: 8px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  background-color: var(--translucentBackgroundColor);
  backdrop-filter: blur(4px);

  color: var(--textColor);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.2s,
    visibility 0.2s;

  overflow-y: scroll;
}
.meme-hashtag {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--textColor);
  font-size: 14px;
  font-weight: 200;

  padding: 9px;
  height: 24px;

  border-radius: 20px;
  background-color: var(--translucentBackgroundColor);
}
